<head>
<title>perkBoard</title>
<link href="/static/commentBoard/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color:#E0EEEE">
<script src="/static/commentBoard/jquery.js"></script>
<script src="/static/commentBoard/bootstrap.js"></script>
<h1>perkBoard - Post it!</h1>

{%if errors%}
{%for error in errors%}
	<div class="row text-center">
			<h4 style = "color:red"> {{error}} </h4>
	</div>
{%endfor%}
{%endif%}

{% if post %}
<div class="row text-center">
<h2>Post </h2>
</div>
	<div class = "container text-center">
		<div class ="row">
			{{post.content}}
		</div>
		<div class ="row">
			by {{post.user}}
		</div>
	</div>
{% endif %}

	
{% if comments %}
<div class="row text-center">
	<h2> Comments </h2>
</div>
{% endif %}
<div class="row text-center">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#comment">
	  Comment
	</button>
	<a class="btn btn-primary btn-lg" href="/">
	  Home
	</a>
</div>
{% if comments %}
	<div class = "container">
	{%for comment in comments%}
		<div class = "row text-center" style="border:5px solid white;">
		<div class = "col-md-2" >
			<button type="button" class="btn btn-success" onclick="upVote({{comment.id}})">
		  		UpVote
			</button>
			<h3>{{comment.score}}</h3>
			<button type="button" class="btn btn-danger" onclick="downVote({{comment.id}})">
	  			DownVote
			</button>
		</div>
		<div class = "col-md-8">
			<p>{{comment.content}}</p>
			<p>by {{comment.user}}</p>
			</a>
		</div>
	</div>
	{%endfor%}
	</div>
{% endif %}

<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
	        	<h4 class="modal-title" id="commentTitle">Make Comment</h4>
	      	</div>
	      	<form action = "/{{post.id}}/" method = "post">
	      		<div class="modal-body">
					{% csrf_token %}
		    		{% for field in form %}
		    		<div class="fieldWrapper">
		        	{{ field.label_tag }} {{ field }}
		    		</div>
					{% endfor %}
				</div>
				<div class="modal-footer">
					<input type="submit" value="Comment" class="btn btn-success"/>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function upVote(commentId){
		console.log(commentId);
		$.post('/{{post.id}}/commentVote/', {id:commentId, up:true, csrfmiddlewaretoken: "{{ csrf_token }}"}).done(function(){
			location.reload(true);
		});
	}
	function downVote(commentId){
		console.log(commentId);
		$.post('/{{post.id}}/commentVote/', {id:commentId, up:false, csrfmiddlewaretoken: "{{ csrf_token }}"}).done(function(){
			location.reload(true);
		});
	}
</script>


</body>
